.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 50px 25px 15px 25px;
}

.screen-header_title {
  font-size: 32px;
  font-weight: 600;
}
.screen-header__icons span {
  position: relative;
  margin-left: 25px;
}

.screen-header__dot {
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  position: absolute;
  right: -7px;
  top: -6px;
}
